/* 
    Document   : style
    Created on : 26-may-2012, 19:27:41
    Author     : mariajie
    Description:
        Purpose of the stylesheet follows.
Azul #2D6891
Azul #70A0BF
Beige #F5EEDC
Rojo #DC4C1A
Naranja #F0986C
*/

root { 
    display: block;
}

