body {
    font-family: Gill, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    background: #fafafa;
}

h1 {
    font-size: 18pt;
    border-bottom: 5px solid darkseagreen;
    padding: 0px;
    margin: 10px 0px 20px;
    width: 80%;
}
table {
    border: 2px solid #000;
    background: #fff;
    width: 80%;
}
table td {font-size: 10pt;
          padding: 5px 10px;
          border-bottom: 1px solid #ddd;
          text-align :left;
}
table th {
    text-align: left;
    font-size: 10pt;
    padding: 10px 10px 7px;
    text-transform: uppercase;
    color: #fff;
    background: darkseagreen;
}

a {
    color:#900;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 3px 10px;
    text-align: center;

}
a:hover {
    color: blue;
}
ul, li {

    list-style-type: none;

}



ul {

    margin: 0;

    padding: 0;
    height: 25px;
    margin-bottom: 10px;

}

ul :first-child
{ 
    border-left: 1px solid #ACCFE8;
}

li {
    border-bottom: 1px solid #ACCFE8;
    border-top: 1px solid #ACCFE8;
    border-right: 1px solid #ACCFE8;
    float: left;

}
/*prueba form*/
label
{
    /*width: 200px;*/
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

.submit input
{
    margin-left: 4.5em;
} 
input
{
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
}

.submit input
{
    color: #000;
    background: #ffa20f;
    border: 2px outset #d7b9c9
} 
fieldset
{
    border: 1px solid #781351;
    width: 20em
}

legend
{
    color: #fff;
    background: #ffa20c;
    border: 1px solid #781351;
    padding: 2px 6px
}

